<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokirin.whereapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	<permission android:name="com.tokirin.whereapp.permission.MAPS_RECEIVE"></permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE" />
	<permission android:name="com.tokirin.whereapp.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="com.tokirin.whereapp.permission.C2D_MESSAGE" /> 
	
	<!-- GCM messages 수신하기 위해서 -->
	
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	
	<!-- 인터넷 접속 -->
	
	<uses-permission android:name="android.permission.INTERNET" /> 
	
	<!-- 구글계정 접근 -->
	
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	
	<!-- 메시지 수신하려면 절전모드로 가면 안됨 -->
	
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tokirin.whereapp.view.WhereLoginActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name = "com.tokirin.whereapp.view.WhereMainActivity"
            />
        <activity
            android:name = "com.tokirin.whereapp.view.WhereLocationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name = "com.tokirin.whereapp.view.WhereJoinActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name = "com.tokirin.whereapp.view.WhereChatActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
		<!-- GCM 리시버 -->
		<receiver
		   android:name="com.google.android.gcm.GCMBroadcastReceiver"
		   android:permission="com.google.android.c2dm.permission.SEND" >
		   <intent-filter>
		      <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		      <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		      <category android:name="com.tokirin.whereapp" /> <!-- 젤리빈 부터는 category 빼도 된다 -->
		   </intent-filter>
		</receiver>
		<service android:name=".GCMIntentService" />
		<meta-data android:value="AIzaSyDICQpSgiW7lJ6M3y5AoWwyTdoZ4qxTCfA" android:name="com.google.android.maps.v2.API_KEY"/>
    </application>

</manifest>
